 .icon-buttons {
    display: flex;
  }
   
  .icon-button {
    background-color: #007bff; /* or any other color */
    border: none;
    border-radius: 50%;
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px; /* Adjust spacing between buttons */
    color: white; /* or any other color for icon */
    cursor: pointer;
  }
  
  .icon-button:last-child {
    margin-right: 0; 
  }
  
 